In [15]:
sales_data = []

for i in range(3):  
    print(f"Enter details for sale record {i+1}:")
    
    order_id = int(input("Enter Order ID: "))
    customer = input("Enter Customer Name: ")
    item = input("Enter Item Name: ")
    quantity = int(input("Enter Quantity: "))
    price = float(input("Enter Price: "))
    order_date = input("Enter Order Date (YYYY-MM-DD): ")
    
    
    record = {
        "order_id": order_id,
        "customer": customer,
        "item": item,
        "quantity": quantity,
        "price": price,
        "date":order_date
    }
    
    sales_data.append(record)

print("\nFinal Sales Data:")
for record in sales_data:
    print(record)

Enter details for sale record 1:

Enter Order ID:  1001
Enter Customer Name:  amal
Enter Item Name:  Mobile
Enter Quantity:  4
Enter Price:  452.02
Enter Order Date (YYYY-MM-DD):  2025-03-23

Enter details for sale record 2:

Enter Order ID:  1002
Enter Customer Name:  anjali
Enter Item Name:  tv
Enter Quantity:  5
Enter Price:  8963.23
Enter Order Date (YYYY-MM-DD):  2025-05-07

Enter details for sale record 3:

Enter Order ID:  1003
Enter Customer Name:  abhi
Enter Item Name:  Speaker
Enter Quantity:  5
Enter Price:  142.25
Enter Order Date (YYYY-MM-DD):  2025-08-23

Final Sales Data:
{'order_id': 1001, 'customer': 'amal', 'item': 'Mobile', 'quantity': 4, 'price': 452.02, 'date': '2025-03-23'}
{'order_id': 1002, 'customer': 'anjali', 'item': 'tv', 'quantity': 5, 'price': 8963.23, 'date': '2025-05-07'}
{'order_id': 1003, 'customer': 'abhi', 'item': 'Speaker', 'quantity': 5, 'price': 142.25, 'date': '2025-08-23'}

In [19]:

for record in sales_data:
    record["total_price"] = round(record["quantity"] * record["price"], 2)
print(record["total_price"])

711.25

In [20]:
high_value_orders = []

for record in sales_data:
    total = record["quantity"] * record["price"]
    if total > 2000:
        high_value_orders.append(record)
print(high_value_orders)

[{'order_id': 1002, 'customer': 'anjali', 'item': 'tv', 'quantity': 5, 'price': 8963.23, 'date': '2025-05-07', 'total_price': 44816.15}]

In [22]:
item_quantity = defaultdict(int)
for record in sales_data:
    item_quantity[record["item"]] += record["quantity"]

most_sold_item = max(item_quantity, key=item_quantity.get)
max_quantity = item_quantity[most_sold_item]

print(f"Most Sold Item: {most_sold_item} ({max_quantity} units)")

NameError: name 'defaultdict' is not defined

In [25]:
def apply_discount(orders, discount_rate):
    discounted_orders = []

    for order in orders:
        new_order = order.copy()
        new_order["price_per_item"] = round(new_order["price_per_item"] * (1 - discount_rate), 2)
        discounted_orders.append(new_order)

    return discounted_orders

In [26]:
store_name = "ShopEase"

def print_store_info():
    # Local variable
    store_owner = "Amal"
    print(f"Store: {store_name}")      
    print(f"Owner: {store_owner}")     

def another_function():
    try:
        print(store_owner)  
    except NameError as e:
        print(f"Error: {e}")


print_store_info()
another_function()

Store: ShopEase
Owner: Amal
Error: name 'store_owner' is not defined

In [27]:
class OrderIterator:
    def __init__(self, orders):
        self.orders = orders
        self.index = 0

    def __iter__(self):
        return self  # An iterator returns itself

    def __next__(self):
        if self.index < len(self.orders):
            current_order = self.orders[self.index]
            self.index += 1
            return current_order
        else:
            raise StopIteration

In [28]:
order_iter = OrderIterator(sales_data)

for order in order_iter:
    print(order)

{'order_id': 1001, 'customer': 'amal', 'item': 'Mobile', 'quantity': 4, 'price': 452.02, 'date': '2025-03-23', 'total_price': 1808.08}
{'order_id': 1002, 'customer': 'anjali', 'item': 'tv', 'quantity': 5, 'price': 8963.23, 'date': '2025-05-07', 'total_price': 44816.15}
{'order_id': 1003, 'customer': 'abhi', 'item': 'Speaker', 'quantity': 5, 'price': 142.25, 'date': '2025-08-23', 'total_price': 711.25}

In [ ]:
grouped_by_customer = {
    customer: [order for order in sales_data if order["customer"] == customer]
    for customer in set(order["customer"] for order in sales_data)
}